* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content h1 {
    font-weight: 700;
    font-size: 175px;
    color: #8f8f8f;
    margin-bottom: 20px;
    font-family: cursive;
    border-radius: 10px;
	box-shadow: 0 0 0 0 #4EE5B9;
	transform: scale(1);
    animation: pulse 2s infinite;
}

.zero {
    color: #4EE5B9;
}

.content .btn {
    margin-top: 10px;
}

.content h2 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #3a3a3a;
    font-weight: 500;
    font-family: cursive;
}

.content p {
    font-size: 16px;
    color: rgb(138 138 138);;
    line-height: 24px;
    margin-top: 10px;
    font-size: 18px;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #4EE5B9;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}