:root {
    --color-primary: #4EE5B9;
    --color-primary-hover: #3bad8d;
    --font-color: #ffffff;
    --font-color-subtitle: #3a3a3a;
    --bg-color: rgba(161, 161, 161, 0.5);
}

.dark {
    --color-primary: #4EE5B9;
    --color-primary-hover: #3bad8d;
    --font-color: #ffffff;
    --font-color-subtitle: #999999;
    --bg-color: rgba(0, 0, 0, 0.5);
}

/***************************************
PRELOADER
***************************************/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
}
.preloader img {
    margin-bottom: 5em;
}
.spinner {
    border: 1px solid transparent;
    border-radius: 5px;
    position: relative;
    margin-top: 5em;;
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 7px solid #959595;
    border-top-color: #ffffff;
    animation: spinner .9s linear infinite;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.preloader-logo {
    text-align: center;
}

.preloader-name {
    font-size: 3em;
}
/***************************************
MAIN CSS
***************************************/
@-webkit-keyframes fill {
    0% {
        width: 0%;
        height: 1px;
        border-radius: 10px;
    }
    50% {
        width: 100%;
        height: 1px;
        border-radius: 10px;
    }
    100% {
        width: 100%;
        height: 100%;
        background: var(--color-primary);
        border-radius: 10px;
    }
}
@keyframes fill {
    0% {
        width: 0%;
        height: 1px;
        border-radius: 10px;
    }
    50% {
        width: 100%;
        height: 1px;
        border-radius: 10px;
    }
    100% {
        width: 100%;
        height: 100%;
        background: var(--color-primary);
        border-radius: 10px;
    }
}
@-webkit-keyframes fillColour {
    0% {
        color: var(--color-primary);
    }
    50% {
        color: var(--color-primary);
    }
    100% {
        color: #333;
    }
}
@keyframes fillColour {
    0% {
        color: var(--color-primary);
    }
    50% {
        color: var(--color-primary);
    }
    100% {
        color: #333;
    }
}

@-webkit-keyframes fill-card-color {
    0% {
        color: var(--color-primary);
    }
    50% {
        color: var(--color-primary);
    }
    100% {
        color: var(--color-primary);
    }
}
@keyframes fill-card-color {
    0% {
        color: var(--color-primary);
    }
    50% {
        color: var(--color-primary);
    }
    100% {
        color: var(--color-primary);
    }
}

  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html {
    overflow: hidden;
}

body {
    overflow: hidden;
    font-size: 100%;
    background-color: var(--bg-color);
}

/***************************************
MENU
***************************************/
.hamburger-menu {
    background: var(--bg-color);
    position: fixed;
    z-index: 10;
    color: white;
    display: none;
    font-size: 1.5em;
    padding: 10px;
}

.close-menu {
    display: flex;
    color: white;
    font-size: 1.5em;
    float: right;
    margin: 10px;
}
.close-menu:hover, .close-menu:active {
    color: var(--color-primary);
    cursor: pointer;
}

.close-menu:active, .hamburger-menu:active {
    transform: scale(1);
    animation: pulse 0.5s infinite;
}

.hamburger-menu:hover, .hamburger-menu:active {
    color: var(--color-primary);
    cursor: pointer;
}
nav {
    text-align: center;
    background: var(--bg-color);
    position: fixed;
    z-index: 100;
    height: 100%;
    left: 0;
    width: 20%;
    font-weight: 300;
    font-size: 1rem;
}

nav em {
	font-style: normal;
	margin-left: 5px;
	font-size: 14px;
}

nav .ul-menu .li-menu i {
	width: 25px;
}

nav .ul-menu .li-menu .a-menu {
	font-size: 18px;
}

nav .mini-logo {
	display: none;
}

nav .logo {
	margin-top: 45px;
	padding: 0px 20px;
}

nav .logo img {
	max-width: 100%;
	overflow-y: hidden;
}

nav .ul-menu {
	margin-top: 60px;
    text-align: left;
    margin-left: 40px;
    list-style-type: none;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
nav .ul-menu .li-menu {
	margin: 25px 0px;
}
nav .a-menu, nav .a-menu:visited, nav .a-menu:active {
    color: var(--color-primary);
}
nav .a-menu {
	text-decoration: none!important;
	font-size: 14px;
	letter-spacing: 0.5px;
    -webkit-transition: color 2s, background 1s;
    transition: color 2s, background 1s;
    padding: 20px 30px;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
nav .a-menu.active {
    background-color: var(--color-primary);
    color: #232323;
}
nav .a-menu::before {
    content: "";
    position: absolute;
    height: 0%;
    width: 0%;
    bottom: 0;
    left: 0;
    opacity: 1;
    z-index: -1;
}
nav .a-menu:hover {
    text-decoration: none;
    -webkit-animation: fillColour 0.7s forwards ease-in-out;
    animation: fillColour 0.7s forwards ease-in-out;
}
nav .a-menu:hover::before {
    -webkit-animation: fill 0.7s forwards ease-in-out;
    animation: fill 0.7s forwards ease-in-out;
    opacity: 1;
}

/***************************************
MAIN CSS
***************************************/
.slides {
    width: 600vw;
    height: 100vh;
    -webkit-transition: -webkit-transform 0.8s ease;
    transition: -webkit-transform 0.8s ease;
    transition: transform 0.8s ease;
    transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}
.slides .slide {
    height: 100vh;
    width: 100vw;
    float: left;
    text-align: center;
    background-size: cover;
}
.slides .slide .content {
    overflow-y: scroll;
    position: relative;
    width: 70%;
    height: 80%;
    left: 30%;
    top: 10%;
    bottom: 10%;
    background: var(--bg-color);
}
.content::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: var(--bg-color);
    border-radius: 10px;
}
/* Add a thumb */
.content::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 10px;
}

nav::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: var(--bg-color);
    border-radius: 10px;
}
/* Add a thumb */
nav::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 10px;
}

.slides .slide:nth-child(1) {
    background-image: url('../img/bg_1.jpg');
}
.slides .slide:nth-child(2) {
    background-image: url('../img/bg_2.jpg');
}

.slides .slide:nth-child(3) {
    background-image: url('../img/bg_3.jpg');
}

.slides .slide:nth-child(4) {
    background-image: url('../img/bg_2.jpg');
}

.slides .slide img {
    width: 100%;
}

.main-btn a:hover {
    background-color: #fff;
    color: #232323!important;
}

.sub-title {
    margin-bottom: 15px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    color: var(--font-color-subtitle);
    font-weight: 500;
    text-align: left;
    letter-spacing: 5px;
}

.title {
    font-size: 18px;
    margin-bottom: 4em;
    font-weight: 700;
    letter-spacing: 5px;
    line-height: 1.8;
    position: relative;
    text-align: left;
    color: var(--font-color);
    text-transform: uppercase;
	border-bottom: 2px solid var(--color-primary);
	display: inline-block;
}

/***************************************
LIGHT/DARK MODE
***************************************/
.container-slider-dark-mode {
    display: inline-flex;
    margin: 25px 0px;
}
.container-slider-dark-mode .checkbox {
	opacity: 0;
	position: absolute;
}

.container-slider-dark-mode .label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.2);
}

.container-slider-dark-mode .label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.container-slider-dark-mode .checkbox:checked + .label .ball {
	transform: translateX(24px);
}

.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}

.container-slider-dark-mode .label:active{
    transform: scale(1);
    animation: pulse 0.5s infinite;
    border-radius: 50px;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #4EE5B9;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}



/***************************************
FIRST CONTENT
***************************************/
.home-content {
	padding: 100px;
	text-align: left;
	padding-top: 13%;
}

.home-content .author-image img {
	margin-top: 15px;
	border-radius: 30px;
	max-width: 100%;
	overflow: hidden;
	float: left;
	margin-right: 35px;
}

.home-content h3 {
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.5px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	margin-top: 0px;
}

.home-content p {
	color: rgba(250,250,250,0.7);
}

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a:active {
    color: var(--color-primary);
    transform: scale(1);
    animation: pulse 0.5s infinite;
}

.social-icon li a {
    border-radius: 100%;
    color: #292929;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    text-align: center;
    position: relative;
    margin: 4px 8px 0 8px;
    color: white;
}

.social-icon li a:hover {
    color: var(--color-primary);
    bottom: 2px;
}

.my-btn {
    border: none;
    font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 10px;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.my-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Pseudo elements for icons */
.my-btn:before {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}


/* Icon separator */

.my-btn-sep:before {
    background: rgba(0,0,0,0.15);
}

/* Button 1 */
.my-btn-send {
    background: var(--color-primary);
    color: #fff;
}

.my-btn-send:hover {
    background: var(--color-primary-hover);
}

.my-btn-send:active {
    background: var(--color-primary-hover);
    transform: scale(1);
    animation: pulse 0.5s infinite;
}

.my-btn-send:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3.5;
    font-size: 140%;
    width: 60px;
    border-radius: 10px;
}

.icon-send:before {
    content: "\f1d8";
}

.icon-download:before {
    content: "\f56d";
}

.col-md-9 {
    max-width: 100%;
}
/***************************************
SECOND CONTENT
***************************************/

.about-content p {
	font-size: 13px;
	color: #fff;
	letter-spacing: 0.5px;
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 30px;
}

.left-content {
    text-align: left;
    padding: 10px 0;
}

/***************************************
THIRD CONTENT
***************************************/
.project-content .row {
    padding: 2em 2em;
}
.card {
    box-shadow: 4px 7px 9px 4px #ffffff8f;
    transition: 0.3s;
    /*width: 30%;*/
    border-radius: 10px;
    background-color: white;
    margin: auto;
}

.card:active {
    transform: scale(1);
    animation: pulse 0.5s infinite;
}

.card hr {
    background-color: var(--font-color);
}

.card .container-card {
    text-align: center;
}

.card:hover {
    cursor: pointer;
}

.container-card h4 {
    color: var(--font-color-subtitle);
}

/***************************************
CONTACT CSS
***************************************/
.contact-form {
    text-align: right;
}

.contact-content .contact-details {
	padding: 50px 0px 50px 50px;
}

.contact-content .contact-form {
	padding: 50px 50px 50px 50px;
}

.contact-details-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.contact-details-list li {
    padding-bottom: 10px;
    color: var(--font-color);
    display: flex;
}

.contact-details-list li span {
    margin-left: 5px;
}

.contact-details {
    text-align: left;
    margin-bottom: 2.5em;
}

.contact-info {
    color: var(--font-color);
}

.contact-info:hover, .contact-info:focus {
    color: var(--color-primary);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.contact-details h2 {
    margin-bottom: 30px;
    color: var(--font-color)
}

.contact-details .social-icon {
    margin-top: 20px;
}

.contact-details .social-icon li{
    margin-right: 20px;
}

.contact-form {
    text-align: right;
}


/***************************************
MAIN CSS
***************************************/

@media (max-width: 991px) {

	nav .ul-menu {
        margin-left: 25px;
    }

	.home-content {
		text-align: center;
		padding: 50px;
	}

	.home-content .author-image img {
		max-width: 195px;
		float: none;
		margin-right: 0px;
		margin-bottom: 30px;
	}

	.project-content .first-section {
		border-bottom: 1px solid rgba(250,250,250,0.3);
		padding-bottom: 45px;
		margin-bottom: 45px;
	}

.left-content {
		margin-right: 0px;
		margin-bottom: 30px;
	}

	.project-content .first-section .right-image {
		margin-left: 0px;
	}

	.project-content .second-section .right-content {
		margin-left: 0px;
		margin-top: 30px;
	}


	.project-content .second-section .left-image {
		margin-right: 0px;
	}

	.contact-content .contact-details {
		padding: 30px 30px 30px 30px;
	}

	.contact-content .contact-form {
		padding: 30px 30px 30px 30px;
    }
    
    .card {
        margin-bottom: 15px;
    }

}

@media (max-width: 860px) {

	nav {
        /*width: 15vh;*/
        overflow: auto;
	}

	nav .logo {
		display: none;
	}

	nav .mini-logo {
		margin-top: 60px;
		display: block;
	}

	nav .ul-menu {
		text-align: center;
		margin-left: 0px;
	}


	nav .ul-menu .li-menu em {
		display: none;
	}

	nav .ul-menu .li-menu i {
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
	}

	.home-content {
		padding: 30px 5px;
	}

	.home-content .main-btn {
		display: inline-block;
		margin-right: 0px;
		margin-bottom: 15px;
	}

    .left-content {
		padding: 30px;
		text-align: left;
    }

	.fourth-content .item .hover-effect h2 {
		font-size: 15px;
	}


	.contact-content .contact-details {
		padding: 15px 15px 15px 15px;
	}

	.contact-content .contact-form {
		padding: 15px 15px 15px 15px;
    }
    .card {
        margin-bottom: 15px;
    }

}

@media(max-width: 450px) {
	nav .ul-menu {
		margin-top: 30px;
	}
	nav .ul-menu .li-menu {
		margin: 30px 0px;
	}
	nav .a-menu {
	    padding: 15px 20px;
    }
    .card {
        margin-bottom: 15px;
    }
    .slides .slide .content {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
    }
}

@media (max-height: 600px) {
    nav .ul-menu {
        display: -ms-box;
        display: -webkit-box;
        display: -moz-box;
        -ms-box-orient: vertical;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
    }
    .slides .slide .content {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
    }
}
